In [55]:
import pandas as pd

file_path = r'C:\Users\clint\Desktop\Taxation Final Project\2009_2013\big_manufacturing.csv'
df = pd.read_csv(file_path)

# Display the first few rows of the dataframe
df

,Province,2009,2010,2011,2012,2013
0,"('Federal', 'General/M&P/Investment')",19.0,18.0,16.5,15.0,15.0
1,"('British Columbia', 'General/M&P/Investment')",11.0,10.5,10.0,10.0,10.0
2,"('Alberta', 'General/M&P/Investment')",10.0,10.0,10.0,10.0,10.0
3,"('Saskatchewan', 'M&P')",10.0,10.0,10.0,10.0,10.0
4,"('Manitoba', 'General/M&P/Investment')",13.0,12.0,12.0,12.0,12.0
5,"('Ontario', 'M&P')",12.0,10.0,10.0,10.0,10.0
6,"('Quebec', 'General/M&P')",11.9,11.9,11.9,11.9,11.9
7,"('New Brunswick', 'General/M&P/Investment')",13.0,12.0,11.0,10.0,10.0
8,"('Nova Scotia', 'General/M&P/Investment')",16.0,16.0,16.0,16.0,16.0
9,"('Prince Edward Island', 'General/Investment/M...",16.0,16.0,16.0,16.0,16.0
10,"('Newfoundland and Labrador', 'M&P')",5.0,5.0,5.0,5.0,5.0
11,"('Yukon', 'M&P')",2.5,2.5,2.5,2.5,2.5
12,"('Northwest Territories', 'General/M&P/Investm...",11.5,11.5,11.5,11.5,11.5
13,"('Nunavut', 'General/M&P/Investment')",12.0,12.0,12.0,12.0,12.0

In [56]:
df = df.drop(columns=['2013'])
df

                                             Province  2009  2010  2011  2012
0               ('Federal', 'General/M&P/Investment')  19.0  18.0  16.5  15.0
1      ('British Columbia', 'General/M&P/Investment')  11.0  10.5  10.0  10.0
2               ('Alberta', 'General/M&P/Investment')  10.0  10.0  10.0  10.0
3                             ('Saskatchewan', 'M&P')  10.0  10.0  10.0  10.0
4              ('Manitoba', 'General/M&P/Investment')  13.0  12.0  12.0  12.0
5                                  ('Ontario', 'M&P')  12.0  10.0  10.0  10.0
6                           ('Quebec', 'General/M&P')  11.9  11.9  11.9  11.9
7         ('New Brunswick', 'General/M&P/Investment')  13.0  12.0  11.0  10.0
8           ('Nova Scotia', 'General/M&P/Investment')  16.0  16.0  16.0  16.0
9   ('Prince Edward Island', 'General/Investment/M...  16.0  16.0  16.0  16.0
10               ('Newfoundland and Labrador', 'M&P')   5.0   5.0   5.0   5.0
11                                   ('Yukon', 'M&P')   2.5   2.5   2.5   2.5
12  ('Northwest Territories', 'General/M&P/Investm...  11.5  11.5  11.5  11.5
13              ('Nunavut', 'General/M&P/Investment')  12.0  12.0  12.0  12.0

In [57]:
file_path_new = r'C:\Users\clint\Desktop\Taxation Final Project\2013-2017\big_manufacturing.csv'
df_new = pd.read_csv(file_path_new)

# Display the first few rows of the new dataframe
df_new

,Province,2013,2014,2015,2016,2017
0,"('Federal', 'General/M&P/Investment')",15.0,15.0,15.0,15.0,15.0
1,"('British Columbia', 'General/M&P/Investment')",10.5,11.0,11.0,11.0,11.0
2,"('Alberta', 'General/M&P/Investment')",10.0,11.0,10.0,12.0,12.0
3,"('Saskatchewan', 'M&P')",10.0,10.0,10.0,10.0,9.5
4,"('Manitoba', 'General/M&P/Investment')",12.0,12.0,12.0,12.0,12.0
5,"('Ontario', 'M&P')",10.0,10.0,10.0,10.0,10.0
6,"('Quebec', 'General/Investment/M&P')",11.9,11.9,11.9,11.9,11.8
7,"('New Brunswick', 'General/M&P/Investment')",10.0,12.0,12.0,14.0,14.0
8,"('Nova Scotia', 'General/M&P/Investment')",16.0,16.0,16.0,16.0,16.0
9,"('Prince Edward Island', 'General/Investment/M...",16.0,16.0,16.0,16.0,16.0
10,"('Newfoundland and Labrador', 'M&P')",5.0,5.0,5.0,15.0,15.0
11,"('Yukon', 'M&P')",2.5,2.5,2.5,2.5,2.5
12,"('Northwest Territories', 'General/M&P/Investm...",11.5,11.5,11.5,11.5,11.5
13,"('Nunavut', 'General/M&P/Investment')",12.0,12.0,12.0,12.0,12.0

In [58]:
df_new = df_new.drop(columns=['Province'])
df_new

    2013  2014  2015  2016  2017
0   15.0  15.0  15.0  15.0  15.0
1   10.5  11.0  11.0  11.0  11.0
2   10.0  11.0  10.0  12.0  12.0
3   10.0  10.0  10.0  10.0   9.5
4   12.0  12.0  12.0  12.0  12.0
5   10.0  10.0  10.0  10.0  10.0
6   11.9  11.9  11.9  11.9  11.8
7   10.0  12.0  12.0  14.0  14.0
8   16.0  16.0  16.0  16.0  16.0
9   16.0  16.0  16.0  16.0  16.0
10   5.0   5.0   5.0  15.0  15.0
11   2.5   2.5   2.5   2.5   2.5
12  11.5  11.5  11.5  11.5  11.5
13  12.0  12.0  12.0  12.0  12.0

In [59]:
file_path_latest = r'C:\Users\clint\Desktop\Taxation Final Project\2016_2020\big_manufacturing.csv'
df_latest = pd.read_csv(file_path_latest)
df_latest = df_latest.drop(columns=['Province'])
df_latest

# Display the first few rows of the latest dataframe
df_latest

    2016  2017  2018  2019  2020
0   15.0  15.0  15.0  15.0  15.0
1   11.0  11.0  12.0  12.0  12.0
2   12.0  12.0  12.0  12.0  10.0
3   10.0  10.0   9.5  10.0  10.0
4   12.0  12.0  12.0  12.0  12.0
5   10.0  10.0  10.0  10.0  10.0
6   11.9  11.8  11.7  11.6  11.5
7   12.0  14.0  14.0  14.0  14.0
8   16.0  16.0  16.0  16.0  16.0
9   16.0  16.0  16.0  16.0  16.0
10  15.0  15.0  15.0  15.0  15.0
11   2.5   2.5   2.5   2.5   2.5
12  11.5  11.5  11.5  11.5  11.5
13  12.0  12.0  12.0  12.0  12.0

In [60]:
import pandas as pd

# Assuming df and df_new are already defined
# Concatenate the dataframes along the columns (axis=1)
df_combined = pd.concat([df, df_new,df_latest], axis=1)

# Display the combined dataframe
df_combined

,Province,2009,2010,2011,2012,2013,2014,2015,2016,2017,2016,2017,2018,2019,2020
0,"('Federal', 'General/M&P/Investment')",19.0,18.0,16.5,15.0,15.0,15.0,15.0,15.0,15.0,15.0,15.0,15.0,15.0,15.0
1,"('British Columbia', 'General/M&P/Investment')",11.0,10.5,10.0,10.0,10.5,11.0,11.0,11.0,11.0,11.0,11.0,12.0,12.0,12.0
2,"('Alberta', 'General/M&P/Investment')",10.0,10.0,10.0,10.0,10.0,11.0,10.0,12.0,12.0,12.0,12.0,12.0,12.0,10.0
3,"('Saskatchewan', 'M&P')",10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0,9.5,10.0,10.0,9.5,10.0,10.0
4,"('Manitoba', 'General/M&P/Investment')",13.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0
5,"('Ontario', 'M&P')",12.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0
6,"('Quebec', 'General/M&P')",11.9,11.9,11.9,11.9,11.9,11.9,11.9,11.9,11.8,11.9,11.8,11.7,11.6,11.5
7,"('New Brunswick', 'General/M&P/Investment')",13.0,12.0,11.0,10.0,10.0,12.0,12.0,14.0,14.0,12.0,14.0,14.0,14.0,14.0
8,"('Nova Scotia', 'General/M&P/Investment')",16.0,16.0,16.0,16.0,16.0,16.0,16.0,16.0,16.0,16.0,16.0,16.0,16.0,16.0
9,"('Prince Edward Island', 'General/Investment/M...",16.0,16.0,16.0,16.0,16.0,16.0,16.0,16.0,16.0,16.0,16.0,16.0,16.0,16.0
10,"('Newfoundland and Labrador', 'M&P')",5.0,5.0,5.0,5.0,5.0,5.0,5.0,15.0,15.0,15.0,15.0,15.0,15.0,15.0
11,"('Yukon', 'M&P')",2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5,2.5
12,"('Northwest Territories', 'General/M&P/Investm...",11.5,11.5,11.5,11.5,11.5,11.5,11.5,11.5,11.5,11.5,11.5,11.5,11.5,11.5
13,"('Nunavut', 'General/M&P/Investment')",12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0